---
import aboutHeader from "../../assets/img/aboutheader.jpg";
---

<header
  class="relative h-[70vh] md:h-screen bg-cover bg-center"
  style={{ backgroundImage: `url(https://res.cloudinary.com/dsri8v8hs/image/upload/v1772856932/aboutheader_k0lkl0.jpg)` }}
>
  <div class="absolute inset-0 bg-black/50"></div>

  <div
    class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4"
  >
    <h1 class="text-4xl md:text-7xl font-bold text-white tracking-wide">
      Conoceme un poco como Persona y Profesional
    </h1>
  </div>
</header>
